doctype html
html
  head
    link(rel='stylesheet', type='text/css', href='server.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    h1 500
    p Something went wrong :(
    a.button(href='/')
      i.icon-home
      |  Go back to the start page to check API settings.
