doctype html
html
  head
    link(rel='stylesheet', type='text/css', href='server.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    h1 404
    p Nothing to do here.
    a.button(href='/')
      i.icon-home
      |  Go back to the start page to check API settings.
