@import 'core/variables';

//FONT SOURCES
@import url('https://fonts.googleapis.com/css?family=Lato');

body{
  margin: 0;
  font-family: $font-main;
}

/* ----- COMPONENTS  ----- */

/* Gallery */
.gallery{
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  background-color:  $color_1;
}

.gallery-title{
  text-align: center;
}

.card{
  flex: 1 1 50%;
  min-width: 50%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  background-color: $color_2;
  flex: 1;
  margin: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover {
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  img{
    display: block;
    width: 100%;
    height: auto;
  }
  .card-image{
    height: 100px;
    overflow: hidden;
  }
  .card-resolution{
    display: inline-flex;
  }
}
